*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}

#tree::-webkit-scrollbar,#inp::-webkit-scrollbar{
    width: 5px;
    background-color: lightgray;
}

#tree::-webkit-scrollbar-thumb,#inp::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 5px;
}

#tree::-webkit-scrollbar:horizontal,#inp::-webkit-scrollbar:horizontal{
    height: 7px;
}

#tree::-webkit-scrollbar-thumb:hover,#inp::-webkit-scrollbar-thumb:hover{
    background-color: rgb(83, 82, 82);
}

.container{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 80%;
    top: 10%;
}

.container #inp{
    position: relative;
    width: 80%;
    left: 10%;
    height: 10%;
    resize: none;
    font-size: x-large;
    text-align: center;
    border: 2px solid black;

}

.container .findContainer{
    position: relative;
    width: 80%;
    left: 10%;
    text-align: center;

}

.numContainer{
    width: 50px;
    height: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.container #tree{
    position: relative;
    width: 80%;
    margin-top: 1%;
    left: 10%;
    height: 85%;
    background-color: white;
    border: 2px solid black;
    overflow: auto;

}

.container h1{
    position: relative;
    top: -10px;
    text-align: center;
}

.btn-container{
    position: relative;
    width: 80%;
    left: 10%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn, .btn-clear{
    position: relative;
    width: 80px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: lightblue;
    margin-left: 5px;

}

.btn-clear{
    display: none;
}


.gold{
    animation: goldfill 1s forwards;
}

.gray{
    animation: brownfill 1s forwards;
}

.green{
    animation: greenfill 1s forwards;
}



@keyframes goldfill {
    100%{
        fill: gold;
    }
    
}

@keyframes brownfill {
    100%{
        fill: gray;
        transform: scale(0.9);
    }
    
}

@keyframes greenfill {
    100%{
        fill: green;
        transform: scale(1.1);
    }
    
}

